# Ignore artifacts:
build
coverage
node_modules

# Ignore all HTML files:
*.html

# Ignore all CSS files:
*.css

# Ignore all minified files:
*.min.js
*.min.css

# Ignore all JavaScript map files:
*.js.map

# Ignore specific directories:
public
dist